:root {
  --main-color-green: #7EB043;
  --main-color-yellow: #e6bb32;
  --main-color-blue: #005ab4;
}

@font-face {
  font-family: "Poppins";
  src: local("./webfonts/Poppins-Regular.ttf");
}

body {
  margin: 0;
}

#login-page {
  background-image: url(/partials/img/sede.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#login-page:before {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 90, 180, 0.5);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

#main-container {
  background-color: #fff;
  width: fit-content;
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  align-items: center;
}

#btn-submit {
  font-family: sans-serif;
  color: #fff;
  background-color: var(--main-color-blue);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 10px;
  border: unset;
}